*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tes{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: brown;

}

.date1{
    margin-left: 8%;
    margin-top: 13%;
}

.date1 h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.date1 p{
    color: #555;
    line-height: 22px;
}

.date1 a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.date1 a:hover{
    color: brown;
}
